<section>

  <div>
    <p>Ira existir um filtro aqui um dia</p>
  </div>
  
  <div>
    <button type="button" (click)="onCrete()">Solicitar</button>
    <button type="button" (click)="onApprove()">Aprovar</button>
    <button type="button" (click)="onCancel()">Cancelar</button>
    <button type="button" (click)="onDelete()">Deletar</button>
  </div>

  <div>
    <table>
      <tr>
        <th *ngFor="let header of headers">
          {{header}}
        </th>
      </tr>
      <tr *ngFor="let solicitation of solicitations" (click)="onClickRow(solicitation)">
        <td *ngFor="let col of columns">
          {{solicitation[col]}}
        </td>
      </tr>
    </table>
  </div>


</section>