<div>
  <form [formGroup]="formModel">

    <!-- div Geral -->
    <div>

      <!-- div Titulo -->
      <div>
        <div>
          <span>Informações da Solicitação</span>
        </div>
      </div>


      <!-- Campo - 1 -->
      <div>
          <div>
              <label for="nameApplicant">
                  Nome do solicitante
              </label>
              <input formControlName="nameApplicant" class="form__input" type="text" id="nameApplicant" placeholder="Digite o nome do solicitante">
              <span></span>
              <label *ngIf="formModel.get('nameApplicant').touched">
                  <label  *ngIf="formModel.get('nameApplicant').hasError('required')">
                      Campo obrigatório
                  </label>
              </label>
          </div>
      </div>

      <!-- Campo 2 -->
      <div>
          <div>
              <label for="itemDescription">
                  Descrição do Item
              </label>
              <input formControlName="itemDescription" class="form__input" type="text" id="itemDescription" placeholder="Digite o descrição do item">
              <span></span>
              <label *ngIf="formModel.get('itemDescription').touched">
                  <label  *ngIf="formModel.get('itemDescription').hasError('required')">
                      Campo obrigatório
                  </label>
              </label>
          </div>
      </div>

      <!-- Campo 3 -->
      <div>
          <div>
              <label for="productValue">
                 Valor do Produto
              </label>
              <input formControlName="productValue" class="form__input" type="number"  id="productValue" placeholder="Digite o valor do produto">
              <span></span>
              <label *ngIf="formModel.get('productValue').touched">
                  <label  *ngIf="formModel.get('productValue').hasError('required')">
                      Campo obrigatório
                  </label>
              </label>
          </div>
      </div>

    </div>
  </form>

</div>