<div>
  <form [formGroup]="formModel">

    <!-- div Geral -->
    <div>

      <!-- div Titulo -->
      <div>
        <div>
          <span>Informações da Solicitação</span>
        </div>
      </div>


      <!-- label - 1 -->
      <div>
        <div>
          <label for="nameApplicant">
            Nome do solicitante
          </label>
          {{solicitation.nameApplicant}}
        </div>
      </div>

      <!-- label 2 -->
      <div>
        <div>
          <label for="itemDescription">
            Descrição do Item
          </label>
          {{solicitation.itemDescription}}
        </div>
      </div>

      <!-- label 3 -->
      <div>
        <div>
          <label for="productValue">
            Valor do Produto
          </label>
          {{solicitation.productValue}}
        </div>
      </div>


      <!-- Campo 1 -->
      <div>
        <div>
          <label for="productValue">
            Status da Solicitação
          </label>
          <select id="isApproved" formControlName="isApproved">
            <option *ngFor="let item of itens" [ngValue]="item.value">{{ item.name }}</option>
          </select>
          <span></span>
          <label *ngIf="formModel.get('isApproved').touched">
            <label *ngIf="formModel.get('isApproved').hasError('required')">
              Campo obrigatório
            </label>
          </label>
        </div>
      </div>

      <!-- Campo 2 -->
      <div>
        <div>
          <label for="observation">
            Observações:
          </label>
          <input formControlName="observation" class="form__input" type="text" id="observation"
            placeholder="Digite a observação">
          <span></span>
          <label *ngIf="formModel.errors?.observationEmpty">
            Campo obrigatório, quando a solicitação é rejeitada.
          </label>

        </div>
      </div>

    </div>
  </form>

</div>